<div class="container">
<h1>     List of cocktails <i class="fas fa-cocktail"></i> </h1>

  <ul>
    <div class="container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
            <div class="col-xs-12 col-sm-4">
        <%=   render "shared/card", cocktail: cocktail %>
<!--      <li> <b> <%= link_to cocktail.name, cocktail_path(cocktail) %> </b>
      </li> -->
    </div>
        <% end %>
      </div>
    </div>
  </ul>
</div>


