<div class="container">
<h1>Create a new cocktail</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%=  simple_form_for [@cocktail] do |f| %>
        <%= f.input :name, placeholder: 'Bloody Mary, Mojito' %>
        <%= f.submit 'Add', class: 'btn btn-success' %>
      <% end %>
        <%=link_to "Back to the list", cocktails_path(@cocktail) %>
    </div>
  </div>

</div>
